body {
  background: linear-gradient(to bottom, #1e1f26, #000000);
  background-color: #ff0080;
  background-blend-mode: multiply;
  color: white;
}

h1 {
  color: #E91E63;
  font-size: 5rem;
  margin: 2rem;
  text-align: center;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20rem;
}

.movie-card {
  background: #212121;
  width: 10rem;
  height: 10rem;
  padding: 5rem;
  margin: 2rem;
  border-radius: 20px;
}  