body {
  background: linear-gradient(to bottom, #1e1f26, #000000);
  background-color: #ff0080;
  background-blend-mode: multiply;
  color: white;
}

h1 {
  color: #E91E63;
  font-size: 3rem;
  margin: 4rem 0 3rem;
  text-align: center;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.movie-card {
  background: #212121;
  width: 20rem;
  height: fit-content;
  padding: 0 1.5rem 5rem;
  border-radius: 20px;
  border-top: 7px solid #E91E63;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
}  

.poster-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
