body {
    background: linear-gradient(to bottom, #000000, #660066);
    color: white;
  }
  
  .movie-card {
    background-color: darkgray;
    width: 10rem;
    height: 10rem;
    padding: 5rem;
    margin: 2rem;
    border-radius: 20px;
  }  